 .highlight {
            border: 1px solid red;
            font-weight: bold;
            font-size: 45px;
            background-color: #333333;
        }

 h3{

 	border:1px solid #ccc;
 }
/* ul #menu li ul li a{
    
    display: none;

 }*/

 ul.my_nav li a{

   color:  #999;


 }
 ul.my_nav li a:hover{

 	background-color: #999;
 	color: #fff;
 }